<div style="text-align:right">
  <%= link_to 'トップへ戻る', home_top_path %>
</div>

<h1 style="text-align:center">貸し出し登録</h1>

<%= render 'form', lend: @lend %>

<h6 class="text-end"><%= link_to '戻る', lends_path %></h6>
