<p id="notice"><%= notice %></p>

<p>
  <strong>LPMs</strong>
</p>

<p>
  <strong>名前:</strong>
  <%= @lend.name %>
</p>

<p>
  <strong>貸し出し:</strong>
  <% case @lend.loaned_out
                 when 0 %>ネクタイ
              <% when 1 %>スカート
              <% when 2 %>ズボン
              <% end %>
</p>

<p>
  <strong>登録完了</strong>
</p>

<%= link_to 'トップへ戻る', lends_path %>
<%= link_to '追加で登録', new_lend_path %>
