<h5 class="text-end"><%= link_to 'トップへ戻る', home_top_path %></h5>

<div style="text-align: center">
<h1>新規登録</h1>

<%= render 'form', lost_item: @lost_item %>

<div style="text-align:right">
  <%= link_to "戻る", :back %>
</div>

</div>