<h1>検索画面</h1>

<%= link_to 'カテゴリー検索', category_list_lost_items_path %>

<%= form_tag('/lost_items/search_list') do %>
  <p>
  キーワード検索
  <br> 
  <%= text_field_tag 'search[keyword]' %><%= submit_tag '検索' %>
  </p>
<% end %>