<div style="text-align:right">
  <%= link_to 'トップへ戻る', home_top_path %>
</div>

<div style="text-align:center">
  <h1>送信完了</h1>
</div>

<div style="text-align:center">
  <%= link_to 'お問い合わせに戻る',inquiries_path%>
</div>
